.rodape__formulario-titulo{
    color: var(--preto-100, #464646);
    font-size: 1rem;
    font-weight: 700;

    padding-bottom: 0.5rem;
}

.rodape__formulario-nome{
    display: flex;
    flex-direction: column;
    background-color: var(--preto-branco);

    font-size: 0.75rem;
    color: var(--preto-50, #A2A2A2);

    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 100%;
    box-sizing: border-box;

    border-radius: 4px;
    gap: 0.5rem;

}

.rodape__formulario-nome input{
    font-family: var(--fonte-principal);
    border: none;
    font-size: 1rem;

    outline: none;
}

.rodape__formulario-mensagem{
    border-radius: 4px;
    gap: 0.5rem;

    background-color: var(--preto-branco);

    font-size: 0.75rem;

    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 100%;
    box-sizing: border-box;
}

.rodape__formulario-mensagem textarea {
    font-family: var(--fonte-principal);
    font-size: 1rem;
    color: var(--preto-50, #A2A2A2);

    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 100%;
    box-sizing: border-box;

    border-radius: 4px;
    gap: 0.5rem;

    border: none;

    height: 82px;

    outline: none;
}

.rodape__formulario-botao{
    background-color: var( --cor-principal-100);

    color: var(--preto-branco);

    border: none;

    margin-top: 0.5rem;
    width: 50%;
    padding: 0.75rem 1rem;
    box-sizing: border-box;
    transition: 100ms;
}

.rodape__formulario-botao:hover{
    font-size: 0.9rem;
    background-color: var(--cor-principal-200);
    cursor:pointer;
}

.mensagem-erro{
    color: red;
}

@media screen and (min-width:768px) {
    .rodape__formulario{
        flex-grow: 1;
    }
}

@media screen and (min-width:1024px) {
    .rodape__formulario{
        padding-left: 0;
    }
}